.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

#container {
  position: relative;
  float: left;
  padding-bottom: 3em;
}

.l-constrained {
  margin: 0 auto;
  padding: 0 4%;
}

#side {
  width: 27%;
  float: right;
  padding-left: 3.5em;
  box-sizing: border-box;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
  overflow-x: hidden;
}

#main-content {
  background: #fff;
  width: 73%;
  float: right;
  padding-top: 2em;
}

#footer {
  width: 100%;
  clear: both;
}

@media only screen and (max-width: 960px) {
  #side {
    width: 30%;
  }
  #main-content {
    width: 70%;
  }
}

@media only screen and (max-width: 720px) {
  #side, #main-content {
    float: none;
    width: 100%;
  }
  #side {
    position: relative;
    padding-left: 0;
    margin-bottom: 3em;
  }
  .l-constrained {
    padding: 0 6%;
  }
}

/* floats and clears */

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media only screen and (max-width: 720px) {
  .left, .right {
    float: none;
    clear: both;
    width: 100%;
  }
}

/* grid */

.five-sixths, .four-fifths, .four-sixths, .one-fifth, .one-fourth, .one-half, .one-sixth, .one-third, .three-fifths, .three-fourths, .three-sixths, .two-fifths, .two-fourths, .two-sixths, .two-thirds, .one-eighth {
  float: left;
  margin: 0 0 1px 2.75%;
}

.one-half, .three-sixths, .two-fourths {
  width: 48.625%;
}

.one-third, .two-sixths {
  width: 31.5%;
}

.four-sixths, .two-thirds {
  width: 65.75%;
}

.one-eighth {
  width: 10.094%;
}

.first-column {
  float: left;
  margin-left: 0;
}

@media only screen and (max-width: 720px) {
  .five-sixths, .four-fifths, .four-sixths, .one-fifth, .one-fourth, .one-half, .one-sixth, .one-third, .three-fifths, .three-fourths, .three-sixths, .two-fifths, .two-fourths, .two-sixths, .two-thirds, .one-eighth {
    width: 100%;
    margin-left: 0;
  }
}
