/* links */

a {
  color: #b00;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #666;
}

a:focus {
  outline: 1px dotted #b00;
  outline-offset: 1px;
}

a:active {
  background-color: transparent;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  font-weight: inherit;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  text-decoration: underline;
}

/* buttons */

.button, a.button {
  font-family: 'proximanova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #b00;
  border-radius: 0;
  color: white;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.4;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0.65em 1em 0.5em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
}

a.button {
  padding: 0.65em 1em 0.5em;
}

.button:hover, a.button:hover {
  background-color: #800;
}

.button:focus, a.button:focus {
  outline: 1px dotted black;
}

.button--gray, a.button--gray {
  background-color: #666;
}

.button--gray:hover, a.button--gray:hover {
  background-color: #444;
}

.button--gray:focus, a.button--gray:focus {
  outline-offset: 1px;
}

.button--alt, a.button--alt {
  background-color: white;
  color: #666;
}

.button--alt:hover, a.button--alt:hover {
  background-color: #666;
  color: white;
}
