/* teasers */

.teaser-grid {
  display: flex;
}

.teaser-item {
  margin-left: 2em;
}

.teaser-item--first {
  margin-left: 0;
}

/* News categories */

.section--news-categories {
  clear: both;
  padding-bottom: 2em;
}

/* around the web */

.wrapper--around-web {
  z-index: 0;
  position: relative;
}

.nav-button {
  background: #eee;
  z-index: 99;
  position: absolute;
  top: 38%;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.65);
}

.nav-button--prev {
  left: 1.125em;
}

.nav-button--prev:hover {
  left: 1em;
}

.nav-button--next {
  right: 1.125em;
}

.nav-button--next:hover {
  right: 1em;
}

.teaser-item--around-web a {
  text-decoration: none;
}

.teaser-item--around-web:hover {
  filter: brightness(115%);
  transition: 0.3s;
}

.box {
  background: #666;
  padding: 0.25em 1em;
  margin-top: -0.5em;
}

.box h3, .box p, .box a {
  color: white;
}

.box p {
  font-weight: 400;
}


/* byline elements */

.byline {
  margin-bottom: 1.5em;
  display: flex;
  align-items: center;
}

.byline__image {
  margin-right: 1.5em;
}

.byline__image img {
  height: 7em;
  width: 7em;
  border-radius: 50%;
}

.byline__text p {
  margin-bottom: 0;
}

.byline__name {
  font-family: 'Capita', serif;
  font-size: 1.4rem;
  font-weight: 600;
}

/* Adjustments for small screens */

@media only screen and (max-width: 720px) {
  .teaser-grid {
    display: block;
  }

  .teaser-item {
    margin-left: 0;
    margin-top: 3em;
  }

  .teaser-item--first {
    margin-top: 0;
  }

  .section--news-categories {
    padding-bottom: 1em;
  }

  .nav-button {
    top: 102%;
    box-shadow: none;
  }

  .section--around-web {
    margin-bottom: 2em;
  }

}
