figure {
  background: white;
}

.photo {
  margin-bottom: 2em;
}

.photo img {
  border-bottom: 3px solid #b00;
  max-width: 100%;
  height: auto;
}

.photo figcaption {
  font-size: 0.875em;
}

.photo--teaser {
  margin-bottom: 1em;
}

.photo--teaser--around-web {
  margin-bottom: 0;
  border: 3px solid #666;
}

.photo--teaser--around-web img {
  border-bottom: 0;
}

.photo--story-link {
  margin-bottom: 0.25em;
}

.photo--story-link img {
  border-bottom: 3px solid #666;
}
