figure {
  background: white;
}

.photo {
  margin-bottom: 1.5em;
}

.photo img {
  border-bottom: 3px solid #b00;
  max-width: 100%;
  height: auto;
}

.photo figcaption {
  text-align: right;
  font-size: 0.875em;
  padding-top: 0.25em;
}

.photo--teaser--around-web img {
  border-bottom: 0;
}
