figure {
  background: white;
}

.image {
  margin-bottom: 2em;
}

.image img {
  border-bottom: 3px solid #b00;
  max-width: 100%;
  height: auto;
}

.image figcaption {
  padding-top: 0.125em;
  font-size: 0.875em;
}

.image--inline figcaption {
  background: #eee;
  padding: 0.5em 0.75em;
  margin-top: -5px;
}

.image--teaser {
  margin-bottom: 1em;
}

.image--teaser {
  margin-bottom: 1em;
}

.image--teaser--news-categories {
  float: left;
  width: 41.5%;
  margin-right: 1.5em;
  margin-bottom: 0.5em;
}

.image--teaser--around-web {
  margin-bottom: 0;
  border: 3px solid #666;
}

.image--teaser--around-web img {
  border-bottom: 0;
}

.image--story-link {
  margin-bottom: 0.25em;
}

.image--story-link img {
  border-bottom: 3px solid #b00;
}


/* positioning */

.image--right {
  float: right;
  margin-left: 2em;
}

/* sizing */

.image-full {
  width: 100%;
  height: auto;
}

.image--headshot {
  width: 190px;
  height: auto;
}


/* Adjustments for small screens */

@media only screen and (max-width: 720px) {

  .image--teaser--news-categories {
    float: none;
    width: 100%;
    margin-right: 0;
  }

}
