blockquote {
  font-weight: normal;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  margin-left: 25px;
  margin-right: 25px;
}

hr {
  margin: 0 0 20px 0;
  border: 1px solid #FFF;
  border-width: 1px 0;
  border-color: #CDCDCD #FFFFFF #FFFFFF #FFFFFF;
}

ul, ol {
  margin: 0 0 20px 25px;
}

ul {
  list-style-type: disc;
}

li>ul, li>ol {
  margin-bottom: 0;
}

li {
  margin: 2px 0;
}

ul.plain {
  list-style: none;
  margin-left: auto;
}

ul.linklist {
  list-style: none;
  margin: 0 0 20px 0px;
  padding: 0px;
}

ul.linklist li {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

ul.linklist>li>a {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 5px 5px 5px 16px;
  border: 1px solid #E9E9E9;
  border-width: 1px 0 1px 0;
  margin-top: -1px;
  transition: box-shadow .3s;
}

ul.linklist>li>a.active {
  color: #000;
  background-color: #E9E9E9;
  box-shadow: 5px 0px 0px 0px #0055B8 inset;
}

ul.linklist>li>a:hover, ul.linklist>li>a:focus {
  color: #000;
  background-color: #E9E9E9;
  box-shadow: 8px 0px 0px 0px #0055B8 inset;
}

input::-webkit-input-placeholder {
  color: #767676;
  opacity: 1;
}

input::-moz-placeholder {
  color: #767676;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #767676;
  opacity: 1;
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0px;
}

.sticky20 {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 20px;
}

.clear {
  clear: both;
}

.table-resp {
  overflow-x: auto;
  width: 100%;
  padding-right: 15px;
  margin-bottom: 20px;
  position: relative;
  min-height: 0%;
}

.table-resp .grid {
  margin-bottom: 0;
}

@media screen and (max-width:767px) {
  #main-content {
    padding: 16px 16px 1px 16px !important;
  }
  #main {
    box-shadow: none;
    margin-top: 0 !important;
    background-color: #505050;
    overflow: hidden;
  }
  a.sideToggle, button.sideToggle {
    display: block;
    float: left;
    text-align: left;
    padding: 9px 7px 9px 7px !important;
    cursor: pointer;
    font-size: 30px;
    color: #ffffff;
    border: 0;
    margin: 0;
    box-shadow: none !important;
    border-radius: 0;
    background-color: transparent;
  }
  a.sideToggle:hover, button.sideToggle:hover {
    background: none;
    background-color: #FFF;
    top: 0 !important;
  }
  a.sideToggle:active, button.sideToggle:active {
    top: 0 !important;
    border: none !important;
  }
  a.sideToggle span, button.sideToggle span {
    display: block;
  }
  .navicon {
    border-bottom: 0.1em solid #000;
    border-top: 0.3em double #000;
    display: block;
    height: 0.1em;
    width: 0.75em;
  }
  a.sideToggle:hover .navicon, button.sideToggle:hover .navicon {
    border-color: #552D81;
  }
  #sideNav .sideToggle.alt {
    background: none;
    margin: 0;
    border: none;
    float: none;
    display: block;
    width: 30px;
    font-size: 50px;
    line-height: 25px;
    color: #999 !important;
    text-decoration: none !important;
    border-radius: 0px !important;
  }
  body.landing #crumbs button {
    display: none;
  }
  body.landing #breadCrumbsContent, body.landing #breadCrumbsContent2 {
    padding: 9px 0 9px 5px;
  }
  #side, #bodyContent {
    float: none;
    width: 100%;
  }
  #side {
    padding-right: 0;
    padding-top: 0;
    height: auto !important;
  }
  #sideNav {
    padding: 0 0 1px 0;
    background-image: none;
    border: none;
  }
  #sideNav h1, #sideNav h1 a, #sideNav h2, #sideNav h2 a, #sideNav h3, #sideNav h3 a, #sideNav p.navsection, #sideNav p.navsection a, #sideNav li a, #sideNav li a:hover, #sideNav li {
    color: #ffffff;
  }
  #sideNav h1, #sideNav h2, #sideNav h3, #sideNav h4, #sideNav h5, #sideNav h6, #sideNav p.navsection {
    text-shadow: 0px 1px 2px #000;
  }
  #sideNav h1, #sideNav h2, #sideNav h3, #sideNav p.navsection {
    padding: 10px;
  }
  #sideNav ul {
    border-bottom: 1px solid #606060;
  }
  #sideNav li a {
    border: none;
  }
  #sideNav li a:hover {
    background-color: transparent;
    box-shadow: none;
  }
  #sideNav li a.current, #sideNav li a.current:hover {
    background-color: #FFF;
    color: #000;
  }
  #sideNav li:last-child {
    border-bottom: 1px solid #282828;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  #side {
    padding-bottom: 0;
    min-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 81%;
    right: 20%;
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease;
  }
  #bodyContent {
    -webkit-transform: translate3d(0%, 0, 0);
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
  }
  .no-csstransforms3d #bodyContent:not(.open) {
    left: 0;
  }
  .no-csstransforms3d #side:not(.open) {
    display: none;
  }
  .no-csstransforms3d #side.open {
    position: absolute;
    top: 0;
    left: 0;
    width: 81%;
    right: 20%;
  }
  .no-csstransforms3d #bodyContent.open {
    left: 80%;
  }
  .no-csstransforms3d #wrap.open #main {
    overflow: hidden;
  }
  .stay {}
  .five-sixths:not(.stay), .four-fifths:not(.stay), .four-sixths:not(.stay), .one-fifth:not(.stay), .one-fourth:not(.stay), .one-half:not(.stay), .one-sixth:not(.stay), .one-third:not(.stay), .three-fifths:not(.stay), .three-fourths:not(.stay), .three-sixths:not(.stay), .two-fifths:not(.stay), .two-fourths:not(.stay), .two-sixths:not(.stay), .two-thirds:not(.stay) {
    float: none !important;
    width: auto;
    margin: 0;
    padding: 0;
  }
  .lefty:not(.stay), .righty:not(.stay) {
    float: none;
    clear: both;
    display: block;
    margin: 0 auto 20px;
  }
  ul.cont, ol.cont {
    margin-bottom: 0;
  }
}
