/* masthead */

.masthead {
  padding-top: 2.5em;
  margin-bottom: 1em;
}

.masthead__logo {
  margin-bottom: 1.75em;
}

.masthead__text--style-guide {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
  display: block;
}

/* main menu */

#sideNav {
  height: auto !important;
}

#sideNav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#sideNav li {
  font-size: 1.125rem;
  padding: 0;
  margin: 0;
}

#sideNav li a {
  display: block;
  position: relative;
  color: #666;
  line-height: 1.4;
  font-weight: normal;
  text-decoration: none;
  padding: 7px 5px;
}

#sideNav li a.current, a.current {
  color: #282828;
  background-color: #eee;
}

#sideNav li a:hover {
  color: #282828;
  text-decoration: underline;
}

#sideNav li a:focus {
  color: #282828;
  outline-offset: -1px;
}

/* search Bar */

#site_search {
  margin: 1em 0;
  margin-top: 1.5em;
  border: 1px solid #e2e2e2;
  padding: 0.25em 0.375em;
}

.input--search {
  border: none !important;
  width: 80%;
}

.button--search {
  background: none;
  border: none;
  color: #666;
  float: right;
  padding: 0.375em 0 0.375em 0.5em;
  width: 20%;
}

.button--search i {
  font-size: 1.3rem;
}

.button--search:hover {
  color: #b00;
}

.button--search:focus {
  outline: 1px dotted #b00;
  outline-offset: -1px;
}

/* social media */

#social_top {
  margin: 1em 0;
  margin-top: 2.5em;
}

ul.social {
  list-style: none;
  display: flex;
  justify-content: center;
}

ul.social li {
  margin: 0 0.875em;
}

ul.social li i {
  color: #666;
  font-size: 2.125rem;
  transition: 0.3s;
}

ul.social li i.fa-twitter:hover {
  color: #00aced;
}

ul.social li i.fa-facebook:hover {
  color: #3b5998;
}

ul.social li i.fa-youtube:hover {
  color: #b00;
}

/* Subscribe */

#subscribe {
  margin: 1em 0;
  margin-top: 2em;
  text-align: center;
}

#subscribe .button {
  width: 90%;
  font-size: 1rem;
}

#subscribe p.fine-print {
  margin: 0.75em auto;
  width: 85%;
}
