/* These styles are only used to display the styleguide. */

.category {
  margin-bottom: 2.5em;
  clear: both;
}

.sample {
  margin-bottom: 2em;
  padding: 0.5em;
}

.location {
  padding-top: 1em;
  display: block;
}

/* headers */

h2.category__header {
  font-family: 'proximanova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.5em;
}

h3.category__header {
  font-family: 'proximanova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #666;
  margin: 1em 0 0.25em;
  padding-left: 0.5em;
}

/* color swatches */

.sg-colors {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sg-colors li {
  flex: auto;
  padding: 0.3em;
  margin: 0 0.3em 1em;
  min-width: 7em;
  max-width: 10em;
}

.sg-colors__sample {
  display: block;
  height: 100px;
  margin-bottom: 0.3em;
}

.sg-info {
  padding: 0.3em;
}

/* exceptions and overrides */

.category--links-buttons .sample h2 {
  margin-top: 1em;
}
