table.table {
  border-collapse: collapse;
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 1.5em;
  font-size: 0.875rem;
}

.table th, .table td {
  text-align: left;
  padding: 0.675em;
}

.table th {
  background: #b00;
  color: white;
  border-bottom: 1px solid #b00;
}

.table td {
  border: 1px solid #ddd;
}

.table caption {
  text-align: left;
  font-size: 1.2em;
  font-weight: 600;
  margin: 1em 0 0.75em;
}

.table caption code {
  font-weight: normal;
}

.table--zebra tr.even {
  background: #eee;
}
